---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>

{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item post-square">
  <a href="{{ post.url }}">
    <div class="post-image">
      <img src="{{ post.image | default: '/assets/images/default-image.jpg' }}" alt="{{ post.title }}">
    </div>
    <h4 class="post-item-title">{{ post.title | escape }}</h4>
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  </a>
</article>
{%- endfor -%}
